.login {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.login__logo {
    align-items: center;
}

.login__logo>img {
    object-fit: contain;
    height: 70px;
    margin-left: 210px;
}

.login__logo>h1 {
    font-weight: 496;
}

.login__logo>button {
    margin-top: 40px;
    width: 300px;
    background-color: #078afd;
    color: #eff2f5;
    font-weight: 400;
    margin-left: 100px;
    border-radius: 99px;
}

.login__logo>button:hover {
    background-color: gainsboro;
    color: #078afd;
}