.sidebarChat {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.sidebarChat:hover {
    background-color: #fafafa;
    color: black;
    border-radius: 99px;
}

.sidebarChat__info {
    margin-left: 15px;
    position: relative;
    width: 100%;
}

.sidebarChat__info>h3 {
    font-weight: 400;
    font-size: 14px;
}

.sidebarChat__info>p {
    font-weight: 200;
    font-size: 12px;
}

.sidebarChat__info>small {
    position: absolute;
    top: 5px;
    right: 0;
    font-weight: 100;
}

.sidebarChat.selected {
    background-color: gray !important;
}