.sidebar {
    flex: 0.25;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-right: 1px solid lightgray;
    overflow-y: scroll
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar__header {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
}

.sidebar__header>.MuiSvgIcon-root {
    font-size: 12px !important;
}

.sidebar__avatar {
    cursor: pointer;
    margin: 10px;
}

.sidebar__inputBtn1st {
    background-color: #e1e1e1 !important;
    color: black !important;
    border-radius: 100% !important;
    margin-left: auto !important;
    justify-content: flex-end;
}

.sidebar__settingsIcon {
    font-size: 20px !important;
}

.sidebar__vidcallIcon {
    font-size: 20px !important;
}

.sidebar__createIcon {
    font-size: 20px !important;
}

.sidebar__inputBtn {
    border: 1px solid #e1e1e1 !important;
    background-color: #e1e1e1 !important;
    color: black !important;
    border-radius: 99px !important;
    margin-left: 7px !important;
}

.sidebar__input {
    align-items: center;
    display: flex;
    background-color: #f8f6f6;
    color: gray;
    border-radius: 99px;
    width: 400px;
    margin-left: 10px;
}

.sidebar__input>input {
    border: none;
    background: transparent;
    outline-width: 0;
    height: 40px;
}

.sidebar__chat {
    overflow: scroll;
}

.sidebar__chat::-webkit-scrollbar {
    display: none;
}

.sidebar__chat {
    -ms-overflow-style: none;
    scrollbar-width: none;
}